:root {
  --degrees: 0deg;
}

-big.conic {
  background: conic-gradient(
    transaprent 0deg,
    transparent var(--degrees),
    white var(--degrees),
    white 360deg
  );
}

.hand {
  transform-origin: bottom center
  transform: rotate(var(--degrees));
}
